<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Diplomata+SC&family=Satisfy&display=swap');
    </style>
    <link rel="stylesheet" href="static\styles\main.css">
    <title></title>
    
</head>

<body topmargin="0"  leftmargin="0" marginwidth="0" marginheight="0">
    <header>
        <h2><a href="index.html" ;>Apartment</a></h2>
        <div>
            <nav>
                <ul>
                    <li>
                        <a type="button" id="togglehome" href="/main" ;>홈</a>
                    </li>
                    <li>
                        <a href="index.html" ;>회원정보</a>
                    </li>
                    <li>
                        <a type="button" onclick="logout()" href="/" ;>로그아웃</a>
                    </li>
                    <!-- <li>
                    <a href="index.html" ;>none</a>
                </li> -->
                </ul>
            </nav>
        </div>
    </header>
    <div class="background_form">
        <div class="btn_form">
            <button onclick="btn_1()" class="changeForm_01" type="button" id="togglenone_1">none</button>
            <button onclick="btn_2()" type="button" id="togglenone_2">none</button>
            <button onclick="btn_3()" type="button" id="togglenone_3">none</button>
            <button onclick="btn_4()" type="button" id="togglenone_4">none</button>

        </div>
        <div class='test'>
            <!-- 쓰지않는부분
            <p>Welcome to Class B 10 Team Project</p> -->
        </div>
        <form id="interface_form" class="hide">


        </form>
    </div>
    </div>


    </div>
    <footer>
        <nav>
            <a href='' target='_blank'>Blog</a> |
            <a href='' target='_blank'>Github</a>
        </nav>
        <p>
            <span></span><br />
            <span>Copyright ©2022 second project. All rights reserved.</span>
        </p>
    </footer>
    <script>
        // none 버튼 누를때 show 1. none버튼 한번 더 누르면 hide
        // $('.changeForm_01').on('click', () => $('.menuform_01').fadeIn(1000)) // 수정 게시판 show

        // $('.changeForm_01').on('click', () => $('.menuform_01').fadeOut(1000)) // 수정 게시판 hide

        // const home_btn = document.querySelector('#togglehome')
        // const none_1_btn = document.querySelector('#togglenone_1');
        // const none_2_btn = document.querySelector('#togglenone_2');
        // const none_3_btn = document.querySelector('#togglenone_3');
        // const none_4_btn = document.querySelector('#togglenone_4');

        // const home_form = document.querySelector('#')
        // const none_1_form = document.querySelector('#interface_form_01');
        // const none_2_form = document.querySelector('#interface_form_02');
        // const none_3_form = document.querySelector('#interface_form_03');
        // const none_4_form = document.querySelector('#interface_form_04');


        // const changeForm = (form1, form2, form3, form4) => {
        //     form1.classList.toggle('#hide');
        //     form2.classList.toggle('#hide');
        //     form3.classList.toggle('#hide');
        //     form4.classList.toggle('#hide');
        // }


        // none_1_btn.addEventListener('click', () => {
        //     changeForm(none_1_form, none_2_form, none_3_form, none_4_form);
        // });


        // none_2_btn.addEventListener('click', () => {
        //     changeForm(none_1_form, none_2_form, none_3_form, none_4_form);
        // });

        // none_3_btn.addEventListener('click', () => {
        //     changeForm(none_1_form, none_2_form, none_3_form, none_4_form);
        // });

        // none_4_btn.addEventListener('click', () => {
        //     changeForm(none_1_form, none_2_form, none_3_form, none_4_form);
        // });
    </script>
</body>

</html>