body {
    margin: 0;
    overflow: hidden;
}

/* header,nav css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    letter-spacing: 0.1rem;
    font-style: italic;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(231, 250, 255, 1) 0%, rgba(98, 211, 252, 1) 100%);
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    font-weight: 700;
}

header a:hover {
    color: red;
}

header h2 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Diplomata SC', cursive;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header li {
    margin-right: 1rem;
}

header ul {
    display: flex;
}

ol,
ul {
    list-style: none;
}

/* header,nav css 끝 */
/* section css*/
.background_form {
    /* background-color: rgb(101, 101, 101); */
    width: 100vw;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/04/18/14/52/buildings-1336611_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn_form {
    display: flex;
    justify-content: center;

}

.btn_form button {
    color: white;
    background-color: #a7d1f6;
    margin-right: 10px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.btn_form button:hover {
    background-color: #dcf8ff
}

/* footer css */
footer {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    /* 내용물에 따라 알맞는 값 설정 */
    bottom: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.footer nav {
    margin-top: 10px;
}

#interface_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: auto;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: 0
}

.hide {
    display: none !important;
}

.test {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size:50px;
    color:white;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-150px;
    
    
}