body {
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;

}

/* header,nav css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    letter-spacing: 0.1rem;
    font-style: italic;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(231, 250, 255, 1) 0%, rgba(98, 211, 252, 1) 100%); */
    background-color: rgba(221, 224, 224, 0.815);

}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    font-weight: 700;
}

header a:hover {
    color: red;
}

header h2 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Diplomata SC', cursive;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header li {
    margin-right: 1rem;
}

header ul {
    display: flex;
}

ol,
ul {
    list-style: none;
}

/* header,nav css 끝 */
/* section css*/
.background_form {
    /* background-color: rgb(101, 101, 101); */
    width: 100vw;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/central-business-district-in-singapore_335224-642.jpg?size=626&ext=jpg&ga=GA1.2.93319971.1670399783");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.65;
}

.btn_form {
    display: flex;
    justify-content: center;

}

.btn_form button {
    color: rgb(0, 0, 0);
    background-color: transparent;
    /* margin-right: 10px; */
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px
}

.btn_form button:hover {
    color: red;
}

 /* footer css  */
footer {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    bottom: 0px;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;

}

.footer nav {
    margin-top: 10px;
}

#interface_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: auto;
    width: 95%;
    height: 70%;
    border-radius: 20px;
    border: 0
}
.first {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /*수평 정렬*/
    align-items: center;
    justify-content: center;
}
.second{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /*수평 정렬*/
    align-items: center;
    justify-content: center;
}
.one{
    width: 300px;
    height: 200px;
    background: #0054FF;
    margin: 50px;
}

/* .hide {
    display: none !important;
} */

